<div>
    <a ui-sref="feedback" class="pull-right btn btn-primary btn-outline btn-rounded">Feedback</a>
    <h2>Join us <small>Do you have any suggestions? Give us your feedback</small></h2>
    <div class="jumbotron">
        <div class="container">
            <h1>Tournament are going to start on 30 february!</h1>
            If you have friends against you want to play, tell them about us!<br /><br />
            <form role="form" ng-submit="submit()">

                <div class="form-content">
                    <lx-text-field lx-label="Your name" lx-fixed-label="true" lx-icon="account">
                        <input type="text" ng-model="$scope.user.name">
                    </lx-text-field>

                    <lx-text-field lx-label="Phone number" lx-fixed-label="true" lx-icon="phone">
                        <input type="text" ng-model="$scope.user.phone">
                    </lx-text-field>

                    <lx-text-field lx-label="Email address" lx-fixed-label="true" lx-icon="email">
                        <input type="email" ng-model="$scope.user.email">
                    </lx-text-field>

                    <lx-text-field lx-label="Team name" lx-fixed-label="true" lx-icon="account">
                        <input type="text" ng-model="$scope.team.name">
                    </lx-text-field>

                    <lx-text-field lx-label="Location" lx-fixed-label="true" lx-icon="city">
                        <input type="text" ng-model="$scope.team.location">
                    </lx-text-field>

                    <lx-text-field lx-label="Founded in" lx-fixed-label="true" lx-icon="city">
                        <input type="text" ng-model="$scope.team.founded">
                    </lx-text-field>

                    <lx-text-field lx-label="Founder" lx-fixed-label="true" lx-icon="city">
                        <input type="text" ng-model="$scope.team.founder">
                    </lx-text-field>

                    <lx-text-field lx-label="Equipment color" lx-fixed-label="true" lx-icon="city">
                        <input type="text" ng-model="$scope.team.equipmentColor">
                    </lx-text-field>
                </div>

                <button type="submit" class="btn btn--blue btn-outline btn-lg btn-rounded">Submit</button>

            </form>
        </div>
    </div>
</div>