<div>
	<a ui-sref="feedback" class="pull-right btn btn-primary btn-outline btn-rounded">Feedback</a>
	<h2>Registered teams  <small>Do you have any suggestions? Give us your feedback</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Tournament are going to start on 30 february!</h1>
			If you have friends against you want to play, tell them about us!<br /><br />
			<lx-data-table lx-thumbnail="false" lx-border="true"  lx-thead="advancedDataTableThead" lx-tbody="teams"></lx-data-table>
		</div>
	</div>
</div>