<ion-header>
  <ion-navbar *ngIf="title === 'All'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All tasks</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="title !== 'All'">
    <ion-title>
      {{title}} tasks
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list class="tasks">
        <ion-item class="item-text-wrap" *ngFor='let task of tasks'>
          {{ task.title }}
            <button *ngIf="task.status == 'Inventory'"
                    ion-button  outline item-right
                               (click)="moveToToday(task.id)">
              <span>Today</span>
            </button>
            <button *ngIf="task.status == 'Today'"
                    ion-button  outline item-right
                               (click)="startPomodoro(task.id)">
              <span>Start</span>
            </button>
        </ion-item>
      </ion-list>
</ion-content>
